*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin:0;
    padding:0;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(auto, minmax(150px, auto));
    grid-template-rows: auto 100vh auto auto;
    grid-area: 
    "navbar navbar navbar navbar"
    "banner banner banner banner"
    ". about about ."
    "footer footer footer footer";    
}


.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:white;
    grid-area: "navbar";
    transition: 0.5s all ease-in-out;
}

.navbar-active{
    background-color: #444;       
}


.banner {
    grid-area: "banner";
}

.about{
    grid-area: "about";
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: start;
    padding: 50px;    
}

.about-text {
    font-size: 18px;
    margin: 30px;  
    opacity:0;
    transform: translateX(30px);
    transition: 0.5s all ease-in-out;  
}

.about-text-active {
    opacity: 1;
    transform: translateX(0px);
}

.about-pic {
    opacity:0;
    transform: translateX(-30px);
    transition: 0.5s all ease-in-out;
}

.about-pic-active {
    opacity:1;
    transform: translateX(0px);
}


.about-pic img {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
    margin-right: 50px;
    object-fit: contain;
    border: solid black 6px;
}



.footer {
    grid-area: "footer";
    background-color: #333;
}

.brand-title {
    font-size: 1.5rem;
    margin: .75rem;
}

.brand-title a {
    text-decoration: none;
    color:white;
}



.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .8rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.banner {
    background-image: url('crow.JPG');
    background-size: cover;
    background-color: #999;
}

.banner-container{
    position: relative;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 20%;
    animation-name: fade-in;
    animation-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.banner-text {
    color: white;
    font-size: 150%;      
}

h2.banner-text {
    font-size: 150%;     
}


.btn {
    background-color: rgb(107, 107, 255);
    color:white;
    position:relative;
    padding: 10px 20px;   
}

.btn:hover {
    background-color: coral;
}

.footer-container {
    display: flex;
    border-top: 2px solid black;
    justify-content: space-around;
    align-self: center;
}

.footer-container a {
    text-decoration: none;
    color:white;
    padding: 30px;
}

.footer-container a:hover {
    color:black;
    background-color: #999;
}


@media (max-width: 600px) {
    .toggle-button {
        display:flex;
    }

    .navbar-links {
        display:none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .about {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .footer-container {       
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    
    .footer-container a {
        padding: 30px 100%;
    }
}

@keyframes fade-in {
    from {opacity: 0; transform:translateX(-20px);}
    to {opacity: 1; transform: translateX(0px);}
}